h1{
    text-align: center;
    margin-bottom: 20px;
}
#cartimg{
    width:150px;
    height: 150px;
    box-shadow: 0px 0px 1px 1px ;
}
#cart{
    display: flex;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 800px; */
}